<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %} <!-- No hackers pls -->

    <h1>General company info</h1>
    <p>Please let us know some basic facts about your company.</p>

    {% for field in form %}
        <div>{{ field.errors }}</div>
        <label>{{ field.label_tag}}</label>
        <div>{{ field }}</div>
    {% endfor %}

    <h1>Contact</h1>
    <p>How may we contact you?</p>

    {% for field in contact_formset %}
        <div>{{ field.errors }}</div>
        <label>{{ field.label_tag}}</label>
        <div>{{ field }}</div>
    {% endfor %}

    <button type="submit">Sign us up for D-Dagen!</button>
</form>
